@page
@model AccessControlWebRazor.Pages.UsuarioView.IndexModel
@{
    ViewData["Title"] = "Lista de usuarios";
}

<style>
    th, td {
        padding: 0.5rem !important;
    }
</style>

<div class="content-wrapper">
    <div class="content-fluid">
        <div class="col-12 px-0">
            <div class="card mb-0" style="height: 840px; width: auto; border-radius: 0">
                <div class="card-header">
                    <div class="d-flex row justify-content-between align-items-center">
                        <!-- Primera Columna -->
                        <div class="col-md-4" style="width: fit-content">
                            <h3 class="card-title mt-2" style="font-size: 20px; font-weight: bold;">Lista de Usuarios</h3>
                        </div>

                        <!-- Segunda Columna -->
                        <div class="col-md-5" style="max-width: 450px; width: fit-content">
                            <form method="post" class="form-inline">
                                <div class="form-row">
                                    <div class="col-2">
                                        <label for="Filter" class="mr-2 w-100 mt-2">Filtro:</label>
                                    </div>
                                    <div class="col-6">
                                        <input asp-for="SearchModel.Filter" type="text" class="form-control w-100" style="border: 1px solid #ddd; border-radius: 4px; width: auto; background-color: #8CA483; color: #fff;" />
                                    </div>
                                    <div class="col-2">
                                        <input type="submit" style="background-color: aquamarine; width: 100px" asp-page-handler="Search" value="Buscar 🔍" class="btn btn-secondary" />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Tercera Columna -->
                        <div class="col-md-3" style="width: fit-content">
                            <button class="btn btn-primary mb-2 mt-2 ml-5" style="box-shadow: 4px 4px 10px #000000; border: none;" type="button" onclick="location.href='@Url.Page("Create")'"> <i class="fas fa-plus nav-icon"></i>  Agregar Usuario</button>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0" style="max-height: 440px; width: auto; overflow-y: auto; text-align: left;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead style="font-size: 18px; font-weight: bold; color: #fff;">
                            <tr>
                                <th style="background-color: aquamarine;">
                                    @Html.DisplayNameFor(model => model.UsuariosDTO[0].UsuarioName)
                                </th>
                                <th style="background-color: aqua;">
                                    @Html.DisplayNameFor(model => model.UsuariosDTO[0].Persona)
                                </th>
                                <th style="background-color: aquamarine;">
                                    @Html.DisplayNameFor(model => model.UsuariosDTO[0].Permiso)
                                </th>

                            </tr>
                        </thead>
                        <tbody style="font-size: 16px;">
                            @foreach (var item in Model.UsuariosDTO)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UsuarioName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Persona)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Permiso)
                                    </td>
                                    @* <td>
                                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td> *@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>