@page
@model AccessControlWebRazor.Pages.PersonalView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.IdTipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.IdTipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.NroLegajo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.NroLegajo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.NroDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.NroDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.Localidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalModel.Habilitado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalModel.Habilitado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonalModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
